body {
    margin: auto;
    padding-left: 55px;
    padding-right: 55px;
    background-color: #FFFFFF;
}

header {
    /* position: fixed; */
    box-sizing: border-box;
    height: 84px;
    padding-left: 55px;
    padding-right: 55px;
    background-color: #007765;
}

.logo {
    float: left;
    width: 184px;
    height: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-right {
    float: right;
    display: flex;
}

.header-right p,
a {
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.container {
    box-sizing: border-box;
    max-width: 1219px;
    padding-left: 55px;
    padding-right: 55px;
    margin-left: auto;
    margin-right: auto;
}

.pipe-here-block {
    padding-top: 160px;
    padding-bottom: 160px;
    background-image: url('pictures/pipenet_here.png');
    background-size: cover;
    background-position: center center;
}

.pipe-here-text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    color: #FFFFFF;
}

.problem-block,
.team-block {
    background-color: #EEEEEE;
}

.problem-text,
.caption {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.caption {
    font-weight: 550;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #007765;
    padding-top: 48px;
    padding-bottom: 16px;
}

.text,
.text_ {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}

.text {
    padding-bottom: 92px;
}

.text_ {
    padding-top: 16px;
    padding-bottom: 35px;
}

.together-block {
    padding-top: 128px;
    padding-bottom: 128px;
    background-image: url('pictures/together.png');
    background-size: cover;
    background-position: center center;
}

.together-text {
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
}

.coin-block {
    background-color: #FFFFFF;
}

.coin-content {
    padding-top: 48px;
}

.ppc-logo {
    float: left;
    width: 115x;
    height: 115px;
    padding-right: 48px;
}

.block {
    display: inline-block;
    text-align: center;
    width: 350px;
    height: 283px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.avatar {
    width: 168px;
    height: 168px;
    padding-bottom: 12px;
}

.member-name {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #007765;
}

.member-position {
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.footer-block {
    padding: 48px 285px 64px;
    background: #333333;
}

.footer-message {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}