html {
    /* height of sticky header */
    scroll-padding-top: 80px;
}

body {
    margin: 0;
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

header {
    position: sticky;
    top: 0;
    background-color: #007765;
}

header img {
    float: left;
    width: 184px;
    height: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav {
    height: 84px;
}

nav ul {
    float: right;
    display: flex;
    list-style: none;
    padding-top: 8px;
}

nav li,
a {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.container {
    box-sizing: border-box;
    max-width: 1219px;
    padding-left: 55px;
    padding-right: 55px;
    margin: 0 auto;
}

.pipe-here-block {
    padding-top: 160px;
    padding-bottom: 160px;
    background-image: url('pictures/pipenet_here.png');
    background-size: cover;
    background-position: center center;
}

.pipe-here-text {
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    color: #FFFFFF;
}

.problem-block,
.team-block {
    background-color: #EEEEEE;
}

h1 {
    font-weight: 550;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #007765;
    margin-top: auto;
    padding-top: 48px;
}

.text {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    padding-bottom: 92px;
}

.together-block {
    padding-top: 128px;
    padding-bottom: 128px;
    background-image: url('pictures/together.png');
    background-size: cover;
    background-position: center center;
}

.together-text {
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
}

.coin-block {
    background-color: #FFFFFF;
}

.coin-block img {
    float: left;
    width: 115x;
    height: 115px;
    padding-right: 48px;
}

.members {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.member {
    box-sizing: border-box;
    text-align: center;
    flex-basis: 33%;
    padding: 24px;
    margin-bottom: 30px;
}

.member img {
    width: 168px;
    height: 168px;
}

.member-name {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #007765;
}

.member-position {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.footer-block {
    padding: 48px 285px 64px;
    background: #333333;
}

.footer-message {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}